<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Geo60 Poços Artesianos</title>

    <!-- =============== Bootstrap Core CSS =============== -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <!-- =============== Google fonts =============== -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<!-- =============== fonts awesome =============== -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <!-- =============== Plugin CSS =============== -->
    <link rel="stylesheet" th:href="@{/css/animate.min.css}" type="text/css">
    <!-- =============== Custom CSS =============== -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <!-- =============== Owl Carousel Assets =============== -->
    <link th:href="@{/owl-carousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/owl-carousel/owl.theme.css}" rel="stylesheet">
</head>

<body>
    <!-- =============== Preloader =============== -->
    <div id="preloader">
        <div id="loading">
        </div>
    </div>
    <!-- =============== nav =============== -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img th:src="@{/img/logo2.png}" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Servicos">Serviços</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Portifolio">Portifolio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#Contato">Contato</a>
                        </li>
                    </ul>
                </div>
                <!-- =============== navbar-collapse =============== -->

            </div>
        </div>
        <!-- =============== container-fluid =============== -->
    </nav>
    <!-- =============== header =============== -->
    <header>
		<!-- =============== container =============== -->
        <div class="container">
            <div class="header-content row">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <h2 class="wow bounceIn animated" data-wow-delay=".40s">Perfurações de Poços Artesianos</h2>
                    <h3 class="wow bounceIn animated" data-wow-delay=".50s">Zona Sul - SP </h3>
                    <p class="wow bounceIn animated" data-wow-delay=".60s">Geo60 Especialista em perfurações de poços artesianos, clique no botao abaixo e solicite um orçamento</p>
                    <p>
                        <div class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s"><i class="hbtn"></i> <span>Solicitar Orçamento</span> <i class="fa fa-cloud-download"></i>
                        </div>
                    </p>
                </div>
              <!--    <div class="col-xs-12 col-sm-7 col-md-7 wow slideInLeft animated">
                    <img src="img/phones.png" alt="phones" />
                </div> -->
            </div>
        </div>
		<!-- =============== container end =============== -->
    </header>
    <!-- =============== how it works =============== -->
    <section id="Servicos" class="parallax">
	<!-- =============== container =============== -->
    <div class="container">
     <span class="angle2"></span>
    <span class="angle"></span>
     <div class="row">

       <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding" data-wow-delay=".5s">
           <h2>How it <span>works</span></h2>
           <p>Display your mobile apps awesome features with icon lists and an image carousel of each page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
       </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
         <div class="row">     
          <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInLeft animated textright" data-wow-delay=".5s">
            <h3>Lorem ipsum</h3>
              <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum.</p>     
          </div>
            <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInRight animated" data-wow-delay=".5s">
                <i class="fa fa-apple iconfont"></i>
          </div>    
        </div>
        <div class="row"> 
         <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInLeft animated textright" data-wow-delay=".6s">
            <h3>Lorem ipsum</h3>
              <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum.</p>     
          </div>
            <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInRight animated" data-wow-delay=".6s">
                <i class="fa fa-rocket iconfont"></i>
          </div>     
        </div>
        <div class="row">            
         <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInLeft animated textright" data-wow-delay=".7s">
            <h3>Lorem ipsum</h3>
              <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum.</p>     
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInRight animated" data-wow-delay=".7s">
                <i class="fa fa-film iconfont"></i>
          </div>         
           
        </div>        
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4 wow bounceIn animated textcenter" data-wow-delay=".4s">
       <img src="img/slide-bg.png" alt="slide-bg" />
      </div>  
         
      <div class="col-xs-12 col-sm-4 col-md-4">
         <div class="row">         
          <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInLeft animated" data-wow-delay=".5s">
                <i class="fa fa-android iconfont2"></i>
          </div>    
          <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInRight animated textleft" data-wow-delay=".5s">
            <h3>Lorem ipsum</h3>
              <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum.</p>     
          </div>
           
        </div>
        <div class="row">    
        <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInLeft animated" data-wow-delay=".6s">
                <i class="fa fa-css3 iconfont2"></i>
          </div>          
          <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInRight animated textleft" data-wow-delay=".6s">
            <h3>Lorem ipsum</h3>
              <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum.</p>     
          </div>
          
        </div>
        <div class="row">    
        <div class="col-xs-2 col-sm-2 col-md-2 wow fadeInLeft animated" data-wow-delay=".7s">
                <i class="fa fa-users iconfont2"></i>
          </div>          
          <div class="col-xs-10 col-sm-10 col-md-10 wow fadeInRight animated textleft" data-wow-delay=".7s">
            <h3>Lorem ipsum</h3>
              <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum.</p>     
          </div>
           
        </div>        
      </div>
    </div>
    </div>   
	<!-- =============== container end =============== -->	
    </section>
    <!-- =============== Screenshots =============== -->
    <section id="Portifolio" class="">
	<!-- =============== container =============== -->
    <div class="container">
    <span class="angle2"></span>
    <span class="angle"></span>
     <div class="row">

       <div class="col-xs-12 col-sm-12 col-md-12 wow bounceIn animated headding" data-wow-delay=".1s">
           <h2>Screen <span>Shots</span></h2>
           <p>Display your mobile apps awesome features with icon lists and an image carousel of each page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
       </div>

      <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="row">     
          <div class="col-xs-12 col-sm-12 col-md-12 wow zoomIn animated textright" data-wow-delay=".1s">           
               <div class="span12">

                      <div id="owl-demo" class="owl-carousel">
                        <div class="item">
                            <div class="imghover" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><img src="img/owl1.jpg" alt="Owl Image">         
                            <div class="hover-bg"><i class="fa fa-camera camera"></i></div>                 
                            </div> 
                        </div>
                        <div class="item">
                            <div class="imghover" data-toggle="modal" data-target="#exampleModa2" data-whatever="@mdo">
                            <img src="img/owl2.jpg" alt="Owl Image">
                             <div class="hover-bg"><i class="fa fa-camera camera"></i></div>                 
                            </div>
                        </div>
                       <div class="item">
                            <div class="imghover" data-toggle="modal" data-target="#exampleModa3" data-whatever="@mdo">
                            <img src="img/owl3.jpg" alt="Owl Image">
                             <div class="hover-bg"><i class="fa fa-camera camera"></i></div>                 
                            </div>
                        </div> 
                        <div class="item">
                            <div class="imghover" data-toggle="modal" data-target="#exampleModa4" data-whatever="@mdo">
                            <img src="img/owl4.jpg" alt="Owl Image">
                             <div class="hover-bg"><i class="fa fa-camera camera"></i></div>                 
                            </div>
                        </div>
                      </div>              
                    </div>     
                      
        </div>     
          <!-- =============== popup large image =============== -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <img src="img/owl1.jpg" alt="Owl Image">
          </div>
         </div>

         <div class="modal fade" id="exampleModa2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe2">
          <div class="modal-dialog" role="document">
            <img src="img/owl2.jpg" alt="Owl Image">
          </div>
         </div>
         
         <div class="modal fade" id="exampleModa3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe3">
          <div class="modal-dialog" role="document">
            <img src="img/owl3.jpg" alt="Owl Image">
          </div>
         </div>
         
         <div class="modal fade" id="exampleModa4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe4">
          <div class="modal-dialog" role="document">
            <img src="img/owl4.jpg" alt="Owl Image">
          </div>
         </div>
		 <!-- =============== popup large image end =============== -->
      </div>
      
    </div>
    </div>      
	</div><!-- =============== container end =============== -->
    </section>
    <!-- =============== Price =============== -->
    <section id="Contato" class="">
	<!-- =============== container =============== -->
        <div class="container">
        <span class="angle2"></span>
        <span class="angle"></span>

         <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 wow zoomIn animated headding" data-wow-delay=".1s">
               <h2>Price <span>List</span></h2>
               <p>Display your mobile apps awesome features with icon lists and an image carousel of each page. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.</p>
           </div>

          <div class="col-xs-12 col-sm-4 col-md-4 wow fadeInLeft animated" >
          <div class="price-wrapper ">
		        <h3 class="price-title">Students</h3>
		        <div class="price">
			        <div class="value-box">
				        <div class="value-box-content">
					        <span class="value">
						        <i></i><span class="number">FREE</span>
					        </span>
					        <span class="month invisible"></span>
				        </div>
			        </div>

			        <div class="content-box">			
                        <ul>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        </ul>
			        </div>
			        <div class="sign-box">
                     <a href="#"><span>Sign Up</span></a>			
                    </div>
		        </div>
	        </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 wow zoomIn animated">
          <div class="price-wrapper ">
		        <h3 class="price-title">Small</h3>
		        <div class="price">
			        <div class="value-box">
				        <div class="value-box-content">
					        <span class="value">
						        <i></i><span class="number"> $10 </span>
					        </span>
					        <span class="month">per month</span>
				        </div>
			        </div>

			        <div class="content-box">			
                        <ul>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        </ul>
			        </div>
			        <div class="sign-box">
                     <a href="#"><span>Sign Up</span></a>			
                    </div>
		        </div>
	        </div> 
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 wow zoomIn animated">
          <div class="price-wrapper ">
		        <h3 class="price-title">Standard</h3>
		        <div class="price standard">
			        <div class="value-box">
				        <div class="value-box-content">
					        <span class="value">
						       <span class="number">$50</span>
					        </span>
					        <span class="month">per month</span>
				        </div>
			        </div>

			        <div class="content-box">			
                        <ul>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        <li>list item</li>
                        </ul>
			        </div>
			        <div class="sign-box">
                     <a href="#"><span>Sign Up</span></a>			
                    </div>
		        </div>
	        </div>
          </div>     
        </div>
      </div>    <!-- =============== container end =============== -->  
    </section>
    <!-- Footer -->
    <footer id="footer">
	<!-- =============== container =============== -->
    <div class="container">
			    <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">

					<ul class="social-links">
						<li><a class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-facebook"></i></a></li>
						<li><a data-wow-delay=".1s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><i class="fa fa-twitter"></i></a></li>
						<li><a data-wow-delay=".2s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><i class="fa fa-google-plus"></i></a></li>
						<li><a data-wow-delay=".4s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><i class="fa fa-pinterest"></i></a></li>
						<li><a data-wow-delay=".5s" class="wow fadeInUp animated" href="index.html#" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><i class="fa fa-envelope"></i></a></li>
					</ul>

                    <p class="copyright">
                        &copy; 2016 Canvas
					</p>

				</div>
			</div>
    </div><!-- =============== container end =============== -->
	</footer>
    <!-- =============== jQuery =============== -->
    <script th:src="@{/js/jquery.js}"></script>
    <!-- =============== Bootstrap Core JavaScript =============== -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- =============== Plugin JavaScript =============== -->
    <script th:src="@{/js/jquery.easing.min.js}"></script>
    <script th:src="@{/js/jquery.fittext.js}"></script>
    <script th:src="@{/js/wow.min.js}"></script>
    <!-- =============== Custom Theme JavaScript =============== -->
    <script th:src="@{/js/creative.js}"></script>
    <!-- =============== owl carousel =============== -->
    <script th:src="@{/owl-carousel/owl.carousel.js}"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                autoPlay: 3000,
                items: 3,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [979, 3]
            });

        });
    </script>
</body>
</html>